body {
	max-width: 745px;
	margin: auto !important;
	
	padding-top: 0px;
	padding-bottom: 10px;
	padding-right: 10px;	
	padding-left: 10px;

	overflow-x: hidden;
	overflow-y: scroll;

	background-color: white;
}

.img {
	width: 1.2em;
	height: auto;
}